@charset "utf-8";
/*fonts*/

@font-face {
    font-family: 'HelveticaNeueW23forSKY';
    src:url('../fonts/HelveticaNeueW23forSKY-Reg.ttf') format('truetype');
}
@font-face {
    font-family: 'HelveticaNeueLTW20';
    src:url('../fonts/HelveticaNeueLT\ Arabic\ 75\ Bold.ttf') format('truetype');
} 
@font-face {
    font-family: 'HelveticaNeueLTW20-R';
    src:url('../fonts/HelveticaNeueW23forSKY-Reg.ttf') format('truetype');
} 
@font-face {
    font-family: 'GretaArabic';
    src:url('../fonts/Greta-Arabic-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'GretaArabic-L';
    src:url('../fonts/Greta-Arabic-light.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeueLTArabic';
    src:url('../fonts/HelveticaNeueLT.otf') format('opentype');
}
@font-face {
    font-family: 'urwdinarabic';
    src:url('../fonts/FontsFree-Net-URW-DIN-Arabic-1.ttf') format('truetype');
}
@font-face {
    font-family: 'urwdinarabic-b';
    src:url('../fonts/URW DIN Arabic Bold.ttf') format('truetype');
}
@font-face {
font-family: 'Frutiger LT Arabic 65 Bold';
font-style: normal;
font-weight: normal;
src: local('Frutiger LT Arabic 65 Bold'), url('../fonts/FrutigerLTArabic65Bold.woff') format('woff');
}


/* @font-face {
    font-family: 'HelveticaNeueW23forSKY';
    src:url('../fonts/HelveticaNeueW23forSKY-Bd.ttf') format('truetype');
} */
/* @font-face {
    font-family: 'BahijJanna';
    src:url('../fonts/Bahij Janna-Bold.ttf') format('truetype');
} */
/* @font-face {
    font-family: 'Arial';
    src:url('../fonts/Arabic.ttf') format('truetype');
} */
@font-face {
	font-family: 'URWDINArabicSemiCond';
	src:url('../fonts/URW-DIN-Arabic-SemiCond.ttf') format('truetype');
}
/*basic*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*,:before,:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clear, .clearfix::after {
    clear: both;
}
:focus 
{
outline: 0 none;
}
body{
	background-color: #f2f2f2;
	direction: rtl;
	font-family: "GretaArabic-L";
	font-size: 13.275px;
	text-align: right;
    margin: 0 auto;
}
a{
    color: #333;
    text-decoration: none  !important;
}
a.nounderline:link{
    text-decoration:none;
}
a:hover{
	color:#ce0000;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 100%;
    width: 1400px;
}
.row {
margin-right: 0px;
margin-left: 0px;
overflow: hidden;
}
.img-container{
    overflow: hidden;
    background :  url(../images/defult.png) #cdcdcd no-repeat center;
}
.img-container img{
    width: 100%;
    min-height:100%;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8,
.col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1,
.col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2,
.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto ,
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,
.col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2,
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1,
.col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10,
.col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto
{
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
}

  .firefox{
margin-top: 22.90%;

}


/*

*/

.selector:not(*:root), .firefox{
margin-top: 35%;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
h2 , h1{
    margin: 0;
}
/* css */
@media (width:100% ){
    .top_menu img{
        margin-right: -60px;
    }  
}

@media (min-width:991px ){
.body{
background-color: #e3e3e3;
}
.top_menu{
background: url(../images/topheader.png) no-repeat center;
    
    
margin: 0 auto;
}
.top_menu img{
float: right;
    width: 140px;
    height: 70px;
    /*! margin-right: -60px; */
    margin-top:20px;
    margin-bottom: 20px;
}
header .header-menu {
    float: right;
    margin-top: 15px;
}
header .header-menu ul{
    display: block;
    list-style: none;
    padding-top: 29px;
    padding-right: 30px;
    margin-right: 40px;
}
header .header-menu ul li {
    display: inline-block;
    font-size: 14.91px;
    font-family: "HelveticaNeueLTW20";
    color: rgb(0, 0, 0);
    list-style: none;
    margin-left: 24px;
}
header .header-menu ul a{
    position: relative;
}
header .header-menu ul li:hover {
    color: #ce0000;
}
 .input-icons i { 
            position: absolute; 
        } 
          
.input-icons { 
/*            width: 100%; */
            /*! margin-bottom: 10px; */ 
/*! margin: auto; */
margin-top: 43px;
float: right;
direction: ltr;
margin-right: 40px;
 } 
          
.icon { 
            padding: 10px; 
            color: green; 
            min-width: 50px; 
            text-align: center; 
 } 
          
.input-field { 
            width: 100%; 
            padding: 10px; 
          
} 
.input-icons input{
width:230px;
    height: 33px;
border-radius: 20px;
margin: 0 auto;
float: right;
color: #ec2a32;
} 
        
.container-fluid{
margin: 0 auto;
/*! width: 1390px; */
max-width: 1160px;
}
.important_news{
    height: 30px;
    border-right: 8px solid #d2343a;
    background-color: #fbfbfb;
    margin-top: 10px;
}
.important_news .red_news{
font-family: 'Frutiger LT Arabic 65 Bold';
    font-size: 14.17px;
margin: 10px;
margin-top: 4px;
color: #cf2127;
width: 100px;
}

.important_news .black_news{
font-family: 'GretaArabic';
font-size: 15.81px;
/*! margin: 10px; */
/*! margin-top: 4px; */
color: #000;
margin-top: -30px;
margin-right: 100px;
}

 .soical{
    display: inline;
    float: left;
    margin-top: -40px;
}
 .soical li{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../images/social-icon.png) no-repeat;
    float: left;
    margin-right: 10px;
}
/*
header .soical .facebook{
    background-position-x: 6px;
}
header .soical .twiter{
    background-position-x: -19px;
}
header .soical .whatsapp{
    background-position-x: -45px;
}
header .soical .telgram{
    background-position-x: -69px;
}
*/
 .soical .facebook{
      background-position-x: 6px;
/*    background: url(../images/facebook.png) no-repeat;*/
     margin-right: -10px;
}
 .soical .twiter{
    background-position-x: -19px;
/*    background: url(../images/twitter.png) no-repeat;*/
}
 .soical .youtube{
     background-position-x: -95px;
/*    background: url(../images/youtube.png) no-repeat;*/
}
 .soical .whatsapp{
   background-position-x: -59px;
/*    background: url(../images/WhatsApp2.png) no-repeat;*/
    /*! margin: 0 0px; */
    /*! margin-left: -7px; */
}
.soical .telgram{
    background-position-x: -129px;
/*    background: url(../images/telegram.png) no-repeat;*/
}
.main_section{
margin-top: 10px;
}
.main_section .image-primary{
float: left;
margin-left: 20px;

}
    .main_section .col-6 a:hover .info{
        position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),red);
bottom: 7px;
right: 10px;
height: 260px;
padding: 20px;
color: #fff;   
width: 511px;
    }
.main_section .image-primary img{
height: 390px;
    width: 520px;
margin-left: 20px;
    position: relative;
    
border: 5px solid #fff;
    margin-right:-10px;
}
.main_section .info{
position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#000);
bottom: 8px;
right: 10px;
height: 260px;
padding: 20px;
color: #fff;   
width: 511px;
}

/* .main_section .info:hover{

 } */
.main_section .info:hover > .icons{
display: block;
}
.main_section .info:hover > .icons-hover{
display: none;
}
.main_section .col-3{
margin-top: 5px;
margin-right: -20px;
}
.main_section .left{
background-color: #fff;
    margin-right: 20px;
padding-top: 10px;
}
.main_section .info .news-title{
/* margin-top:170px; */
/*color: #fff;*/
    font-size: 21px;
    font-family: 'HelveticaNeueLTW20';
}
.main_section .info .icons{
    margin-top:130px; 
    border-bottom: 4px solid #cf2127;
    width:60px;
    padding-bottom: 3px
}
.main_section .info .icons-hover{
    margin-top:130px; 
    border-bottom: 4px solid #cf2127;
    width:60px;
    padding-bottom: 3px;
    display: none;
}
.main_section .image-container img{

height: 180px;
    width: 100%;
    position: relative;
}
.main_section .img2 .info-small{
position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#000);
bottom: 1px;
/*! right: 90px; */
width: 300px;
/* height: 90px; */
padding: 20px;
    color: #fff;
}
.main_section .img3 .info-small{
position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#000);
bottom: 3px;
/*! right: px; */ 
width: 100%;
/* height: 90px; */
padding: 20px;
    color: #fff;
}
.main_section .img2 .info-small:hover{
position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
bottom: 1px;
/*! right: 90px; */
width: 300px;
/* height: 90px; */
padding: 20px;
    color: #000;
/*    border: 4px solid #fff;*/
}
.main_section .img3 .info-small:hover{
position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
bottom: 10px;
right: 5px; 
width: 273px;
/* height: 90px; */
padding: 20px;
    color: #000;
}
.main_section .info-small:hover > .icons{
display: none;
}
.main_section .img2 .info-small:hover > .icons{
display: block;
} 
.main_section .info-small:hover > .icons-hover{
display: block;
}
.main_section .info-small .news-title{
/*    color: #fff;*/
    font-size:18px;
    font-family: 'HelveticaNeueLTW20';
   
margin-left: 20px;
margin-right: -10px;
margin-bottom: -8px;
}

/*pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp*/
.main_section .img3:hover > .image-container img{
    border: 5px solid #fff;
/*     width: 100%; */
/*    border-bottom: 2px;*/
} 
.main_section .img3:hover > .info-small{
    
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
    bottom: 6px;
    right: 0px;
    width: 100%;
    /*! height: 120px; */
    padding: 20px;
    color: #000;

}
.main_section .img3:hover > .info-small  .icons {
    display: none;
}
.main_section .img3:hover > .info-small  .icons-hover {
    display: block;
}
.main_section .img2:hover > .image-container img{
    border: 5px solid #fff;
/*     width: 100%; */
border-bottom: none;
    /*! margin-left: ; */
} 
.main_section .img2:hover > .info-small{
    
 position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
bottom: 1px;
/*! right: 90px; */
width: 300px;
/* height: 90px; */
/*! padding: 20px; */
    color: #000;
/*    border: 4px solid #fff;**/

}
.main_section .img2:hover > .info-small  .icons {
    display: block;
}
.main_section .img2:hover > .info-small  .icons-hover {
    display: none;
}
.main_section .info-small .icons{
    margin-top:0px;
    border-bottom: 1px solid #cf2127;
    width:30px;
    padding-bottom: 12px;
}
.main_section .img2 .info-small .icons{
 margin-top:0px;
    border-bottom: 4px solid #cf2127;
    width:30px;
    padding-bottom: 12px;
}
.main_section .info-small .icons-hover{
    margin-top:0px;
    border-bottom: 3px solid #cf2127;
    width:30px;
    padding-bottom: 12px;
    display: none;
}
.main_section .img2 .info-small .icons{
 margin-top:0px;
    border-bottom: 3px solid #cf2127;
    width:30px;
    padding-bottom: 12px;
}
.left .row{
display: table;
margin: 10px;
    margin-top: 30px;
}

.left .row img{
display: table-cell;
    height: 60px;
    width: 90px;
}
.left .row p{
display: table-cell;
    font-size: 15px;
    font-family: 'HelveticaNeueLTW20';
vertical-align: middle;
    padding-right: 5px;
}
.left hr{
width:270px;
text-align: center;
margin: 0 auto;
    margin-top: 15px;
    
margin-bottom: -20px;
}
.left .hr{
width: 160px;
float: left;
border: 3px solid #cf2127;
margin-left: 10px;
margin-bottom: 30px;
}
/*line*/

.line13 span { display:block;  float:left; height:3px;}

/*margin-top: -30px;*/

.line13 .color-2{
    background:#dcdcdc;
    width:60px; 
}
.line13 .color-4{
    background:#d82c2c;
     width: 670px;
}
.line13 .color-3{
    background:#dcdcdc;
    width:116px; 
}
.news .section-title .title {
float: right;
margin-top: 20px;
font-family: 'HelveticaNeueLTW20';
font-size: 20px;
margin-right: 15px;
}
.news .section-title .title p{
margin-right: 25px;
margin-top: -30px;
}
.news .section-title .title:before {
content: ' > ';
    color: #d82c2c;
/*! margin-right: 7px; */
/*! margin-right: 10px; */
}
.news .section-title .more {
float: left;
    margin-top: -20px;
    font-family: 'urwdinarabic';
    font-size: 13.99px;
/*! margin-left: 8px; */
}
.news1 .section-title .title {
float: right;
margin-top: 20px;
font-family: 'HelveticaNeueLTW20';
font-size: 20px;
margin-right: 15px;
}
.news1 .section-title .title p{
margin-right: 10px;
/*! margin-top: -30px; */
}

.news1 .section-title .more {
float: left;
    margin-top: 16px;
    font-family: 'urwdinarabic';
    font-size: 13.99px;
}
.image-local{
margin: 8px;
}
.image-local a:hover{
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
}
.image-local p{
font-size: 18px;
    font-family: 'GretaArabic';
padding: 10px;
}
.image-local .title-local{
background-color: #f6f6f6;
    border-bottom: 3px solid #ececec;
    border-top: 1px solid #f6f6f6;
}
.local a:hover > .image-local .title-local{
    background-image: linear-gradient(#fff, #e9e9e9);
    border-top: url(../images/border-top.png);
     border-top: 3px solid green;
    border-image: url(../images/border-top.png);
    /*! border-bottom: 3px solid #ececec; */
    /*! border-right: 0; */
    /*! border-left: 0; */
border-image-width: 100% 0 0 0;
    padding-top: 1px;
}
.local a:hover > .image-local .icons-hover{
    display: block;
}

/* .image-local .title-local:hover{
background-image: linear-gradient(to top, rgba(255,0,0,0),#fff);
    border-top: url(../images/border-top.png);
     border-top: 3px solid green;
    border-image: url(../images/border-top.png);
    /*! border-bottom: 3px solid #ececec; */
    /*! border-right: 0; */
    /*! border-left: 0; */
/* border-image-width: 100% 0 0 0; */
*/
.image-local .title-local:hover > .icons-hover{
display: block;
}
.image-local  .title-local .icons-hover{
margin-top: -30px;
    display: none;
}
.local-content{
margin-bottom: 40px;
    background-color: #f9f9f9;
padding-top: 10px;
    padding-bottom: 10px;
}
/*arabic and global*/
.arabic-global{
background-color: #fff;
padding: 0 15px;
}
.arabic-global a{
/*    display: table;*/
}
.arabic-global a .col-8{
/*    display: table-cell;*/
}
.arabic-global a .col-4{
/*
    display: table-cell;
    vertical-align: top;
*/
}
.arabic-global .primary-paragraph{
font-size: 21px;
font-family: 'HelveticaNeueLTW20';
    /*! color:#000; */
margin: 10px;
}
.arabic-global .secondry-paragraph{
font-size: 15px;
    font-family: 'GretaArabic-L';
margin: 10px;
margin-top: 30px;
color: #000;
}
.arabic-global .col-4 .icons-hover{
margin-top:-27px; 
    border-bottom: 1px solid #cf2127;
    width:30px;
    padding-bottom: 8px;
    display: none;
bottom: 14px;
}
.reports-row .col-4 .icons-hover{
margin-top:-10px; 
    border-bottom: 1px solid #cf2127;
    width:30px;
    padding-bottom: 8px;
    display: none;
}
.arabic-global .info .news-title{
/* margin-top:170px; */
/*color: #fff;*/
    font-size: 21px;
    font-family: 'HelveticaNeueLTW20';
}
.arabic-global .info .icons{
    margin-top:130px; 
border-bottom: 4px solid #cf2127;
    width:60px;
    padding-bottom: 3px
}
.arabic-global .image-container{
margin: 15px;
/*! padding-left: 10px; */
}
.arabic-global .image-container img{

height: 180px;
     width: 106%;
    position: relative;
margin-left: 20px;
}
.arabic-global .info-small{
position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#000);
bottom: 15px;
right: 13px;
width: 260px;
/* height: 90px; */
padding: 20px;
    color: #fff;
}

.arabic-global .col-4 a:hover > .image-container img{
    border: 5px solid #f2f2f2;
    height: 180px;
}
.arabic-global .col-4 a:hover > .info-small{
    position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
bottom: 15px;
right: 13px;
width: 260px;
/* height: 90px; */
padding: 20px;
    color: #000;
}
.arabic-global .col-4 a:hover > .info-small .icons-hover{
    display:  block;
}

    
.arabic-global .info-small .news-title{
/*    color: #fff;*/
    font-size:18px;
    font-family: 'HelveticaNeueLTW20';
   
/*     margin-bottom: 10px; */
}
.arabic-global .info-small .icons{
    margin-top:0px;
    border-bottom: 1px solid #cf2127;
    width:30px;
    padding-bottom: 12px;
}
.artical{
display: table;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
padding-right: 10px;
width: 100%;
padding: 5px 10px;
}
.artical a:hover{
    
    color:#000;
}
.artical:hover{
    background-image: linear-gradient(#fff,#ebebeb);
    color:#000;
}
.artical img{
display: table-cell;
    border-radius: 50%;
height: 52px;
width: 52px;
}
.artical .artical-title{
display: table-cell;
    vertical-align: bottom;
}
.artical .artical-title p{
    font-family: 'GretaArabic';
    font-size: 16px;
    /*! line-height: 22.96 px; */    line-height: 5px;
    /*! padding-right: 20px; */
    padding-top: 5px;
}


.line span { display:block;  float:left; height:4px;}
.line{
/*margin-top: -30px;*/
}
.line .color-2{
    background:#dcdcdc;
    width:20px; 
}
.line .color-4{
    background:#d82c2c;
     width: 20px;
}
.line .color-3{
    background:#dcdcdc;
    width:20px; 
}
.small-line{
float: right;
    margin-right: 5px;
margin: 0px 5px;
margin-bottom: 10px;
}
.artical-container{
background-color: #f9f9f9;
/*! padding-right: 10px; */
/*! padding-top: 10px; */
margin-top: -18px;
    padding-top: 15px;
border-radius: 5px;
padding-bottom: 5px;
margin-bottom: 20px;
}
.local-content .col-4{
margin-top: 10px;
}
.more-watched-container{
background-color: #e2e2e2;
    /*! padding: 0 10px; */
border-radius: 5px;
    padding-top:10px
}
.watched-title{
border-radius: 20px;
    background-color: #cf2127;
    width: 120px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
margin-top: -15px;
    font-size: 17px;
    font-family: 'HelveticaNeueLTW20';
padding-top: 0px;
height: 30px;
}
/*
.more-watched-container:before{

content: '__________';
    width: 90px;
    height: 2px;
        color: #cf2127;
    
display: inline-block;
margin-right: 15px;
}
.watched-title:after{

content: '_______';
    width: 90px;
    height: 2px;
        color: #cf2127;
    
display: inline-block;
    float: left;
margin-top: -46px;
margin-left: -70px;
}
*/
.more-watched{
font-size: 14px;
    font-family: 'HelveticaNeueLTW20';
    margin-top: 1px;
width: 100%;
padding: 10px;
    border-right: 1px solid #e2e2e2;
}
.more-watched:hover{
    background-image: linear-gradient(to top, rgba(255,0,0,0),#fff);
    border-right: 1px solid #cf2127;
}
.more-watched-container hr{
border: 1px solid #fff;
    margin: 0 auto;
    width:200px;
margin-top: ;
}
.infographic-container{
background-color: #fffca3;
    margin-top: 40px;
    padding: 10px;
border-radius: 5px;
}
.infographic-title{
    background-color: #ff8400;
    border-radius: 20px;
/*  background-color: #cf2127;*/
    width: 120px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: -15px;
    font-size: 17px;
    font-family: 'HelveticaNeueLTW20';
    /*! margin-top:-px; */
    height: 30px;
    margin-bottom: 10px;
}
.infographic-image img{
width: 240px;
    height: 350px;
}
.infographic-container hr{
border: 1px solid #ff8400;
    width:240px;
    margin: 0 auto;
margin-top: 13px;
/*! margin-bottom: -10px; */
    
}
.more-watched-container .hr{
border: 1px solid #cf2127;
    width:240px;
    margin: 0 auto;
margin-top: 13px;
/*! margin-bottom: -10px; */
    
}
/*اعلانات*/

.advertisment-image{
margin-top: 40px;
position: relative;
}
.advertisment-image img{
width: 280px;
    height: 250px;
}
.advertisment-container .info{
position: absolute;
/*! bottom: 153px; */
right: 102px;
/*! top: 1012px; */
margin-top: -157px;
}
.advertisment-container .info p{
font-size: 15px;
    font-family: 'HelveticaNeueW23forSKY';
    color: #fff;
    margin-top: 20px;
    margin-right: 10px;
}
.video-container{
background-color: #000;
margin-top: 40px;
    padding: 6px 5px; 
    padding-bottom: 10px;
border-radius: 5px;
}
.video-container .video-title{
border-radius: 20px;
    background-color: #cf2127;
    width: 120px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
margin-top: -15px;
    font-size: 17px;
    font-family: 'HelveticaNeueLTW20';
height: 30px;
margin-bottom: 10px;
}
/*
.video-container .video-title:before{
content: '_____________';
    width: 90px;
    height: 2px;
        color: #cf2127;   
display: inline-block;
    float: right;
    margin-left: 100px;
}
*/
.video-container hr{
border: 1px solid #cf2127;
    width:240px;
    margin: 0 auto;
margin-top: 13px;
/*! margin-bottom: -10px; */
    
}
.video-container hr{
border: 1px solid #cf2127;
    width:240px;
    margin: 0 auto;
margin-top: 13px;
/*! margin-bottom: -10px; */
    
}
.video-container .video-image{
position: relative;
    height: 190px;
    width: 280px;
}
.video-container .video-image img{

 height: 190px;
    width: 250px;
}
.video-container .info{
position: absolute;
/*! bottom: 1980px; */
right: 120px;
margin-top: -120px;
}
.car-container{
background-color:#79bfe4 ;
    padding: 10px 6px;
    margin-top: 40px;
border-radius: 5px;
}
.car-container hr{
border: 1px solid #000;
    width:240px;
    margin: 0 auto;
margin-top: 10px;
margin-bottom: -10px;
    
}
.car-title{
border-radius: 20px;
    background-color: #000;
    width: 120px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
margin-top: -15px;
    font-size: 17px;
    font-family: 'HelveticaNeueLTW20';
height: 30px;
margin-bottom: 10px;
}
.car-image img{
    width: 250px
}
/*reports*/

.reports{
background-color: #bababa;
    padding: 0 15px;
    margin-top: 40px;
border-radius: 10px;
border: 4px solid #e49c9e;
}
.reports-title{
    border-radius: 20px;
    background-color: #cf2127;
    width: 120px;
    color: #fff;
    text-align: center;
/*    margin: 0 auto;*/
    margin-top: -15px;
    font-size: 17px;
    font-family: 'HelveticaNeueLTW20';
    float: right;
    height: 30px;
    margin-top: 20px;
}
.reports-title p{

}
.reports-more{
font-size: 13px;
    font-family: 'HelveticaNeueW23forSKY';
color: #eeeeee;
margin-top: 30px;
margin-bottom: -10px;
margin-right: 30px;
}
.reports-more p{
    color:#f2f2f2;
}

.reports hr{
border: 1px solid #f2f2f2;
width: 600px;
margin-top: -15px;
margin-right: 210px;
}
.reports .info .news-title{
/* margin-top:170px; */
/*color: #fff;*/
    font-size: 21px;
    font-family: 'HelveticaNeueLTW20';
}
.reports .info .icons{
    margin-top:130px; 
border-bottom: 4px solid #cf2127;
    width:60px;
    padding-bottom: 3px
}
.reports .image-container{
margin: 15px;
/*! padding-left: 10px; */
}
.reports .image-container img{

/*! height: 180px; */
    /*! width: 300px; */
    position: relative;
margin-left: 20px;
}
.reports .info-small{
position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#000);
bottom: 10px;
right: 13px;
width: 260px;
/* height: 90px; */
padding: 20px;
    color: #fff;
}

.reports .info-small .news-title{
/*    color: #fff;*/
    font-size:18px;
    font-family: 'HelveticaNeueLTW20';
    margin-bottom: -5px;
/*! bottom: 320px; */
}
.reports-row .col-4 a:hover > .image-container img{
    border: 4px solid #fff;
/*     width: 100%; */
    border-bottom: 2px;
}
.reports-row .col-4 a:hover > .info-small {
    
    position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
bottom: 10px;
right: 13px;
width: 260px;
height: 90px;
padding: 20px;
    color: #000;
/*! padding-bottom: 60px; */
/*! border: 4px solid; */
}
.reports-row .col-4 a:hover > .info-small .icons-hover {
    display: block;
}

.reports-row .col-4 .image-container img{
    width: 106%;
    height: 170px;
/*         border:5px solid transparent */
}
.economie .col-4 .icons-hover{
margin-top:-10px; 
    border-bottom: 4px solid #cf2127;
    width:30px;
    padding-bottom: 8px;
    display: none;
}

/* art */
.art:hover{

}
.art-primary{

    margin-top: -25px;
}
.art-contanier .col-6{
border-radius: 5px;
    
}
.art-col-container{

    padding-bottom: 7px;
    padding: 0 5px;
    padding-bottom: 7px;
}
.art-col-container a:hover > .art-primary .info-small{
    position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
bottom: 5px;
right: 5px;
width: 100%;
/* height: 90px; */
padding: 20px;
    color: #000;
}
.art-primary .info .news-title{
/* margin-top:170px; */
/*color: #fff;*/
    font-size: 21px;
    font-family: 'HelveticaNeueLTW20';
}
.art-primary .info .icons{
    margin-top:130px; 
border-bottom: 4px solid #cf2127;
    width:60px;
    padding-bottom: 3px
}
.art-primary .image-container{
margin: 5px;
/*! padding-left: 10px; */
}
.art-primary .image-container img{

/*! height: 180px; */
    width: 100%;
    position: relative;
margin-left: 20px;
}
.art-primary .info-small{
position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#000);
bottom: 5px;
right: 5px;
/*! width: 100%; */
/* height: 90px; */
padding: 20px;
    color: #fff;
}
.art-primary .info-small:hover{
/* position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
bottom: 5px;
right: 5px;
width: 100%;
/* height: 90px; */
/* padding: 20px; */
/*     color: #000; */ */
}
.art-primary .info-small .news-title{
/*    color: #fff;*/
    font-size:18px;
    font-family: 'HelveticaNeueLTW20';
   
/*     margin-bottom: 10px; */
}

.art{
display: table;
    margin: 15px 20px;
} 


.art  img{
display: table-cell;
    height: 60px;
    width: 90px;
}
.art p{
display: table-cell;
    font-size: 18px;
    font-family: 'HelveticaNeueLTW20';
vertical-align: middle;
    padding-right: 5px;
}

/*economie*/

.economie{
background-color: #fff;
padding: 0 15px;
}
.economie a{
    display: table;
}
.economie a .col-4{
    display: table-cell;
}
.economie a .col-8{
    display: table-cell;
    vertical-align: top;
}
.economie .primary-paragraph{
font-size: 23px;
font-family: 'HelveticaNeueLTW20';
    /*! color:#000; */
margin: 10px;
padding: 20px;
}
.economie .secondry-paragraph{
font-size: 15px;
    font-family: 'GretaArabic';
margin: 10px;
/*! margin-top: 50px; */
padding: 20px;
padding-left: 30px;
padding-top: 0px;
color: #000;
}
.economie .third-paragraph{
    display: table;
    margin-top: -10px;
    margin-right: 10px;
}
.economie .third-paragraph p{
font-size: 15px;
    font-family: 'GretaArabic';
    color: #a9a9a9;
    padding:0px 20px;
    display: table-cell;
    
}
.economie .third-paragraph img{
  
    display: table-cell;
}


.economie .info .news-title{
/* margin-top:170px; */
/*color: #fff;*/
    font-size: 21px;
    font-family: 'HelveticaNeueLTW20';
}
.economie .info .icons{
    margin-top:130px; 
border-bottom: 4px solid #cf2127;
    width:60px;
    padding-bottom: 3px
}
.economie .image-container{
margin: 15px;
/*! padding-left: 10px; */
}
.economie .image-container img{

 height: 180px;
     width: 106%;
    position: relative;
margin-left: 20px;
}
.economie .info-small{
position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#000);
bottom: 15px;
right: 13px;
width: 260px;
/* height: 90px; */
padding: 20px;
    color: #fff;
width: 280px;
}

.economie a:hover > .row .col-4 .image-container img{
    border: 5px solid #f2f2f2;
    height: 180px;
}
.economie a:hover > .row .col-4  .info-small{
    position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
bottom: 15px;
right: 13px;
width: 260px;
/* height: 90px; */
padding: 20px;
    color: #000;
}
.economie a:hover >  .col-4 .info-small .icons-hover{
    display:  block;
}

.economie .col-4 a:hover > .image-container img{
    border: 5px solid #f2f2f2;
    height: 180px;
}
.economie .col-4 a:hover > .info-small{
    position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
bottom: 15px;
right: 13px;
width: 260px;
/* height: 90px; */
padding: 20px;
    color: #000;
}
.economie .col-4 a:hover > .info-small .icons-hover{
    display:  block;
}
.economie .info-small .news-title{
/*    color: #fff;*/
    font-size:18px;
    font-family: 'HelveticaNeueLTW20';
   
/*     margin-bottom: 10px; */
}
.economie .info-small .icons{
    margin-top:0px;
    border-bottom: 1px solid #cf2127;
    width:30px;
    padding-bottom: 12px;
}
/*line*/
.line2 span { display:block;  float:left; height:4px;}
.line2{
margin-bottom: : -50px;
}

.line2 .color-4{
    background:#d82c2c;
     width: 300px;
    
}
.line2 .color-3{
    background:#dcdcdc;
    width:114px; 
}
.line3 span { display:block;  float:left; height:4px;}
.line3{
/* margin-top: px; */
    float: right;
}

.line3 .color-4{
    background:#d82c2c;
     width: 300px;
}
.line3 .color-3{
    background:#dcdcdc;
    width:114px; 
}
/*footer*/
footer{
background-color: #fff;
    padding: 30px 0px;;
margin-top: 50px;
width: 1395px;
}
footer .row .footer-paragraph{
display: table-cell;
    font-size: 15px;
    font-family: 'GretaArabic-L';
    padding-left: 20px;
padding-right: 60px;
}
footer .row .footer-image{
display: table-cell;
}
footer .copyright {
display: table;
margin: 0 auto;
/*! margin-right: 10px; */
padding-right: 0px;
}
footer .contact-us .contact{
font-size: 11.5px;
font-family: 'urwdinarabic';
    margin-bottom: 0px;
    margin-top:10px;
/*! float: ; */
text-align: justify;
margin-right: 15px;
}
footer .soical{

float: right;
    margin-top:-2px
    
}
footer .soical li{

float: right;
    margin-right: -1px;
}
footer .header-menu {
    float: right;
    margin-top: 15px;
}
footer .header-menu ul{
    display: block;
    list-style: none;
    padding-top: 29px;
    padding-right: 30px;
    margin-right: 40px;
}
footer .header-menu ul li {
    display: inline-block;
    font-size: 14.91px;
    font-family: "HelveticaNeueLTW20";
    color: rgb(0, 0, 0);
    list-style: none;
    margin-left: 24px;
}
footer .header-menu ul a{
    position: relative;
}
footer .header-menu ul li:hover {
    color: #ce0000;
}
footer .contact-us .upgrade{
display: table;
/*! width: 100px; */
    margin-top:50px;
    float: left;
}
footer .contact-us .upgrade img{
display: table-cell;
}

footer .contact-us .upgrade p{
display: table-cell;
/*! float: left; */
text-align: left;
    font-size: 9.33px;
    font-family: 'HelveticaNeueW23forSKY';
    color: #5f66ad;
vertical-align: top;
padding-top: 1px;
}
.arabic-global .col-4 a:hover{
color:#d82c2c;
}

.economie .col-8 a:hover{
/*color:#000;*/
}
.local-content .col-4 a:hover{
color: #000;
}
    .hid-lg{
    display: none;
    }
}

@media (max-width:991px ){
    .hid-m{
    display: none;
    }
    .small-screen{
    background-color: #fff;
    width: 100%;
    height: 350px;
    padding-top: 100px;
    }
    .small-screen .menu-img img{
    float: right;
    margin-right: 10%;
    margin-top: -10px;
    width: 30px;
        
    }
     .small-screen .logo-img{
/*    float: ;*/
         width: 220px;
         height: 130px;
         margin-right: 90px;
margin: 0 auto;
/*! margin-top: 100px; */
/*! padding-top: 100px; */
    }
    .small-screen .row .col-6{
    font-size: 10.89px;
        font-family: 'HelveticaNeueLTW20-R';
    background-color: #fff;
    }
    .small-screen .row{
    margin-top: 90px;
        /*! padding: 0 10px; */
    background-color: #fff;
    }
    .imp-news {
    background-color: #fff;
    margin: 30px;
    padding-right: 20px;
    height: 90px;
    padding: 30px;
    padding-right: 20px;
    padding-top: 30px;
    /*! margin-top: 30px; */
    }
    .red_news{
    font-size: 12px;
        font-family: 'HelveticaNeueLTW20';
        color: #cf2127;
    }
    .black_news{
      font-size: 12px;
        font-family: 'HelveticaNeueLTW20';
      margin-right: 10%;
      text-align: left;
    }
    .art-contanier .col-6{
border-radius: 5px;
    
}
.art-col-container{

    padding-bottom: 7px;
    padding: 0 5px;
    padding-bottom: 7px;
}
.art-col-container a:hover > .art-primary .info-small{
position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
bottom: 5px;
right: 5px;
width: 100%;
/* height: 90px; */
padding: 20px;
    color: #000;
}
 .art-col-container a:hover > .image-container img{
    border: 5px solid #f2f2f2;
  }
    .art-col-container a:hover > .art-primary .image-container img{
        border: 5px solid #f2f2f2;  
    }
.art-primary .info .news-title{
/* margin-top:170px; */
/*color: #fff;*/
    font-size: 21px;
    font-family: 'HelveticaNeueLTW20';
}
.art-primary .info .icons{
    margin-top:130px; 
border-bottom: 4px solid #cf2127;
    width:60px;
    padding-bottom: 3px
}
.art-primary .image-container{
margin: 5px;
/*! padding-left: 10px; */
margin-top: 20px;
/*! width: 100%; */
}
    .art-primary .image-container img{ 
    width: 100%;
    }
    .img_man{

height: 270px;
    width: 100%;
    position: relative;
margin-left: 20px;
}
.art-primary .info-small{
position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#000);
bottom: 5px;
right: 5px;
width: 100%;
/* height: 90px; */
padding: 20px;
    color: #fff;
}
.art-primary .info-small:hover{
/* position: absolute;
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
bottom: 5px;
right: 5px;
width: 100%;
/* height: 90px; */
/* padding: 20px; */
/*     color: #000; */ */
}
.art-primary .info-small .news-title{
/*    color: #fff;*/
    font-size:15px;
    font-family: 'HelveticaNeueLTW20';
   
/*     margin-bottom: 10px; */
}


/*button style*/


.left_right .button{
    width: 30px;
    height: 30px;
/*     float: right; */
    margin-left: 10px;
    border-radius: 3px;
}
.right_left .button{
    width: 30px;
    height: 30px;
    margin-right: 10px;
/*    border: 1px solid #4545a8; */
/*     float: left; */
    border-radius: 3px;
}
.slider{
    background-color: #fff;
    padding-top: 25px;
    padding: 25px 15px;
    padding-bottom: 10px;
}
.slider .row .col-6 p{
    font-size: 15px;
    font-family: 'HelveticaNeueLTW20';
    
}
/*slider*/
.p_first{
font-size: 15px;
    font-family: 'HelveticaNeueLTW20';
padding-right: 20px;
}
.slider img{

height: 380px;
width: 100%;
}
.news .section-title .title {
float: right;
margin-top: 20px;
font-family: 'HelveticaNeueLTW20';
font-size: 20px;
margin-right: 15px;
}
.news .section-title .title p{
margin-right: -10px;
margin-top: -30px;
}

.news .section-title .more {
float: left;
    margin-top: -20px;
    font-family: 'urwdinarabic';
    font-size: 13.99px;
/*! margin-left: 8px; */
}
.local-small {
background-color: #fff;
    margin-top: 40px;
    padding: 20px;
padding-top: 0px;
}
.local{
display: table;
    padding: 5px;
border-right: 2px solid #fff;
}
.local-small .anchor:hover{
color: #000;
}
.local-small .anchor:hover > .local{
background-image: linear-gradient(#fff,#e9e9e9);
/*    height: 90px;*/
    border-right: 2px solid #cf2127;
}
.local div{
display: table-cell;
}
.local .div-p_first{
display: table-cell;
    vertical-align: middle;
}
.mid-line{
margin-top: 40px;

margin-bottom: -40px;
}
.line13 span { display:block;  float:left; height:3px;}

/*margin-top: -30px;*/

.line13 .color-2{
    background:#dcdcdc;
/*    width:60px; */
}
.line13 .color-4{
    background:#d82c2c;
     width: 75%;
}
.line13 .color-3{
    background:#dcdcdc;
    width:25%; 
}
.footer{
background-color: #ec1c24;
    height: 350px;
text-align: center;
}
.footer .row .p{
font-size: 11.05px;
    font-family: 'HelveticaNeueLTW20-R';
    color: #fff;
margin-top: 70px;
margin: 0 auto;
margin-top: 70px;
}
.footer .soical{
    display: inline;
    /*! float: left; */
    margin-top: 40px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
 .footer .soical li{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../images/social-icon.png) no-repeat;
    float: left;
    margin-right: 10px;
}

.footer .soical .facebook{
      background-position-x: 6px;
      margin-right: -10px;
}
 .footer .soical .twiter{
    background-position-x: -19px;

}
.footer .soical .youtube{
     background-position-x: -95px;

}
 .footer .soical .whatsapp{
   background-position-x: -59px;

}
.footer .soical .telgram{
    background-position-x: -129px;

}
.footer hr{
    width: 100%;
    border: 1px solid #dc181f;
}
.header-menu hr{
 width: 350%;
    border: 1px solid #dc181f;
 /*! margin: 0 -10%; */
 margin-right: -30%;
 margin-left: -10%;
}
.footer-end{
display:table;margin:0 auto;
}
.footer-end img{
display: table-cell;
}
.footer-end .upgrade{
    display: table-cell;
    font-size: 6.78px;
    font-family: 'HelveticaNeueW23forSKY';
    margin: 0 auto;
    color: #fff;
    vertical-align: top;
    padding-top: 4px;
    padding-left: 5px;
}
.copyright{
color: #fff;
    font-size: 10.76px;
    font-family: 'GretaArabic-L';
    margin: 0 auto;
margin-top: 30px;
margin-bottom: 30px;
}
.menu-btn{
    
   width: 70px;
    height: 34px;
    background: url(../images/menu.png) no-repeat right;
    position: absolute;
    top: 105px;
/*     right: -19px; */
    cursor: pointer;
/*    display: none;*/
/*    background: url(../images/menu.png) no-repeat right;*/
   
/*    display: none;*/
    /*! z-index: 100; */
      float: right;
    margin-right: 10%;
    margin-top: -10px;
/*
    width: 30px;
    height: 30px;
*/
}
 .menu-mobile{
    background:#eb1c23;
    text-align: center;   
    transition: all 1.5s;
    max-height: 0px;
    position: absolute;
    z-index: 12;
    right: 0;
    left: 0;
    overflow: hidden;
}
.menu-mobile.activ{
    max-height: 1000px;
    padding-top: 100px;
    top: 0px;
    padding-bottom: 10px;
}
.menu-mobile ul{
    width: 260px;
    margin: 0 10%;
    padding: 14px 0px; 
}
.menu-mobile li{
    display: block;
    font-size: 17px;
    font-family: "HelveticaNeueLTW20";
    color: #fff;
    padding: 8px 12px;
    margin-bottom: 10px;
/*    border: 1px solid #000032;*/
/*    border-radius:20px ;*/
    /*! float: right; */
    text-align: right;
    /*! width: 600px; */
}

.menu-mobile ul li::before{
     content: ' '; 
     color: #fa5658; 
    margin-left: 5px;
    width: 100%;
    height: 1px;
/*    position: absolute;*/
/*
    height: 15px;
    width: 2px;
    top: px;
    right: 50px;
*/
}
.menu-mobile li:hover{
    color:#000;
}
}
/*news page style*/
.icons{
  margin-top:30px; 
border-bottom: 3px solid #cf2127;
    width:60px;
    padding-bottom: 10px;
  /*! margin-right: 30px; */
}
.image-primary{
    float: left;
}

.blackside{
    background-color: #000;
    padding-right: 30px; 
    height: 361px;
    /*! margin-left: 12px; */
}
.news-text{
    color: #fff;
    font-size: 20px;
    font-family: 'HelveticaNeueLTArabic';
    margin-top: 30px; 
}
 .p_breadcramb ul{
display: inline-flex;
   list-style-type: none;
     margin-top: 130px;
}
.body-text{
padding:0 30px;
}
.local1{
/*! margin-top: 25px; */
}
.local1 .column9{
background-color: #fff;
/*! margin-top: -10px; */
}
.local1 .column9 .container-right{
background-color: #000;
    height: 361px;
margin-top: 6px;
margin-left: 5px;
}
 .p_breadcramb li{
    padding:5px;

    color:#c2c2c2;
    font-size: 14px;
    font-family: 'GretaArabic-L';
}
 .p_breadcramb li[aria-current='step']:before{
content: '   I  ';
    margin: 0 8px;
}
.p_breadcramb ul > :first-child:before {
 content: '  ';
/*    color: #fff;*/
}
 .para{
    font-size: 17px;
    font-family: 'GretaArabic-L';
   line-height: 30px;
    margin-top: 50px;
}

 .read_more{
    font-size: 18px;
    font-family: 'HelveticaNeueLTArabic';
    margin-top: 30px;
}
 .para2 a{
    font-size: 17px;
    font-family: 'GretaArabic-L';
    padding-left: 25px;
    color:#ed2a32;
    line-height: 30px;
    
}
 .para2 a:hover{
  color:#000;
}
.para1{
    font-size: 17px;
    font-family: 'GretaArabic-L';
    line-height: 30px;
}


.line4 span { display:block;  float:left; height:3px;}

/*margin-top: -30px;*/

.line4 .color-2{
    background:#dcdcdc;
    width:60px; 
}
.line4 .color-4{
    background:#d82c2c;
     width: 730px;
}
.line4 .color-3{
    background:#dcdcdc;
    width:116px; 
    float: right;
    margin-top: -4px;
}
.news .section-title .title {
float: right;
margin-top: 20px;
font-family: 'HelveticaNeueLTW20';
font-size: 20px;
margin-right: 15px;
}
.news .section-title .title p{
margin-right: 25px;
margin-top: -30px;
}
.news .section-title .title:before {
content: ' > ';
    color: #d82c2c;
/*! margin-right: 7px; */
/*! margin-right: 10px; */
}
.news .section-title .more {
float: left;
    margin-top: -20px;
    font-family: 'urwdinarabic';
    font-size: 13.99px;
/*! margin-left: 8px; */
}
.news1 .section-title .title {
float: right;
margin-top: 20px;
font-family: 'HelveticaNeueLTW20';
font-size: 20px;
margin-right: 15px;
}
.news1 .section-title .title p{
margin-right: 10px;
/*! margin-top: -30px; */
}

.news1 .section-title .more {
float: left;
    margin-top: 16px;
    font-family: 'urwdinarabic';
    font-size: 13.99px;
}
.image-local{
margin: 8px;
}
.image-local a:hover{
background-image: linear-gradient(to bottom, rgba(255,0,0,0),#fff);
}
.image-local p{
font-size: 18px;
    font-family: 'GretaArabic';
padding: 10px;
}
.image-local .title-local{
background-color: #f6f6f6;
    border-bottom: 3px solid #ececec;
    border-top: 1px solid #f6f6f6;
}
.local1 a:hover > .image-local .title-local{
    background-image: linear-gradient(#fff, #e9e9e9);
    border-top: url(../images/border-top.png);
     border-top: 3px solid green;
    border-image: url(../images/border-top.png);
    /*! border-bottom: 3px solid #ececec; */
    /*! border-right: 0; */
    /*! border-left: 0; */
border-image-width: 100% 0 0 0;
    padding-top: 1px;
}
.local1 a:hover > .image-local .icons-hover{
    display: block;
}

/* .image-local .title-local:hover{
background-image: linear-gradient(to top, rgba(255,0,0,0),#fff);
    border-top: url(../images/border-top.png);
     border-top: 3px solid green;
    border-image: url(../images/border-top.png);
    /*! border-bottom: 3px solid #ececec; */
    /*! border-right: 0; */
    /*! border-left: 0; */
/* border-image-width: 100% 0 0 0; */
*/
.image-local .title-local:hover > .icons-hover{
display: block;
}
.image-local  .title-local .icons-hover{
margin-top: -30px;
    display: none;
}
.local-content{
margin-bottom: 40px;
    /*! background-color: #fff; */
padding-top: 10px;
    padding-bottom: 10px;
/*! margin-right: 5px; */
/*! margin-left: 10px; */
}
.image-local img{
width: 100%;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  color:#000;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 9999999;
    
}

.dropdown:hover .dropdown-content {
  display: block;
    margin-top:7px;
}
.dropdown-content li {
    margin: 10px; 
    
}